.button {
  padding: 0 18px;
  height: 32px;
  line-height: 30px;
  display: inline-block;
  border-radius: 16px;
  font-size: 14px;
  border: 1px solid;
}

.parent-links {
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

.page-header-title {
  .sentinel();
  font-size: 4em;
  font-weight: 200;
}

.page-content p {
  .caslon();
  font-size: 1.85em;
  line-height: 1.35
}

.member-level-title {
  .sentinel();
  font-size: 3em;
  font-weight: 200;
}

.membership-level ul {
  .sentinel();
  font-size: 1.5em;
  font-weight: 200;
}

#footer-modules {
  p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 10px;
  }
}

.footer-module-title {
  margin-bottom: 5px;
}