.parent-links {
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

.page-header-title {
  .sentinel();
  font-size: 4em;
  font-weight: 200;
}

.member-level-title {
  .sentinel();
  font-size: 3em;
  font-weight: 200;
}

.membership-level ul {
  .sentinel();
  font-size: 1.5em;
  font-weight: 200;
}