#home-slider {

  overflow: hidden;
  overflow-y: visible;

  #home-carousel {

    position: relative;
    background: @white;
    height: 450px;
    width: 100%;

    .rsNav {
      display: none;
    }

    .rsArrow {

      top: 75%;
      margin-top: -30px;

      .rsArrowIcn {
        display: none;
      }

      &.rsArrowRight {
        right: 0;
        left: auto;
        width: 7.5%;
        height: 60px;
        background: url(/assets/img/navRight.png) center center no-repeat;
        background-size: contain;
      }

      &.rsArrowLeft {
        left: 0;
        width: 7.5%;
        right: auto;
        height: 60px;
        background: url(/assets/img/navLeft.png) center center no-repeat;
        background-size: contain;
      }

    }

    .rsOverflow {
      overflow: visible;
      background: @white;
    }

    .slide {

      //.header-overlay();
      opacity: .75;
      position: static;
      transition: 300ms ease;

      hr {
        margin: 0;
        height: 15px
      }

      .section-link {
        color: @white;
        display: block;
      }

    }

    .rsActiveSlide {

      .slide {
        opacity: 1
      }

    }

    .meta {

      position: absolute;
      bottom: 0;
      z-index: 99;
      width: 100%;

      .title {
        
        .caslon();
        color: @white;
        font-size: 4.1em;

      }

    }

    .slide_meta {

      // //border-top: 1px solid @white25;
      // height: 50px;
      // line-height: 50px;

      .post-title {
        font-family: 'Gotham';
        text-transform: uppercase;
        font-weight: 900;
        color: @white;
        font-size: 13px;
        position: relative;

      }

      .button {
        border-radius: 0;
        border: 0;
        height: 45px;
        //border-bottom: 10px solid @black;
        //margin-bottom: -10px;
        line-height: 52px;
        background: @black;

        &.sub-title {
           background: none;
        }
      }

      .text-right {

        a {
          color: @white;
          font-size: 14px;
        }

      }

    }

  }

  .title-box {
    background: @black;
    padding: 10px 0;
  }

}

#home-upcoming {

  background: @bgGray;
  padding: 30px 0 30px;
  overflow: hidden;
  //margin-bottom: @gutter*2;

  .selecter {

    text-align: left;
    margin-top: 0;
    .selecter-selected {
      
    }
  }

  header {

    margin-bottom: @gutter*2;

    h3 {
      margin: 8px 0 2px;
      font-size: 18px;
      font-weight: bold;
      color: @blue;
      .cat();
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 1px
    }

    p {
      margin: 0;
      font-size: 18px;
      .sentinel();
    }

  }

}

#upcoming-events-carousel {

  
  //padding: 45px 0 0;

  .slide {

    margin: 0;

    .meta {
      
      background: @white;

      .wrapper {

        padding: 15px;
        background: none!important;

      }

    }

  }

  button {
    display: none!important;
  }

  .slick-list {

    overflow: visible;

  }

}

#home-featured {

  position: relative;
  padding-top: 25px;

  header {
    h3 {
      margin: 8px 0 2px;
      font-size: 18px;
      font-weight: bold;
      color: @blue;
      .cat();
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 1px
    }
  }

  .wrapper {
    padding: 0 25px;
  }

  .slider {
    height: 600px;
    width: 100%;
     border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
  }

  .slide {
    position: static;
   
  }

  .top_link {
    position: absolute;
    top: 25px;
    z-index: 9;
    width: 100%;
    .lato();

    a {
      color: @white;
    font-size: 18px;

      strong {
        color: @blue;
      }
     
    }

  }

  .rsSlide {
    //position: relative;

  }

  .slide_meta {

    border-top: 1px solid @white25;
    height: 50px;
    line-height: 50px;

    a {
      color: @white;
    }

  }

  .meta {
 
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 29;
    background: @blue;
    padding: 25px 0;

    .title {
        
      .caslon();
      color: @white;
      font-size: 2em;
      line-height: 1;
      margin: 0;

      br {
        display: none;
      }

      a {
        color: inherit;
      }

    }

    .button {
      color: @white;
      border-color: @white;
      margin-bottom: 30px;
    }

  }

}

.arrow-wrapper {
  
  h3 {
      margin: 8px 0 2px;
      font-size: 18px;
      font-weight: bold;
      color: @blue;
      .cat();
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 1px
    }
    
}

.home-arrow {
  color: @white;
  background: @blue;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 58px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  margin-bottom: 25px;
  display: block;
  &.left {
    float: left;
    margin-right: 15px;
    margin-top: -16px;
  }
}

.social-links {

  padding: 0;
  margin: 0;
  height: 30px;
  line-height: 30px;

  li {

    font-size: 28px;
    display: inline-block;

    a {

      color: @blue;

    }

  }

}

.page-home {
  .page-content {
    .desktop-4 {
      h2 {
        .cat();
        margin: 0;
        font-weight: 500;
        display: inline-block;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}