#home-slider {

  overflow: hidden;

  #home-carousel {

    .rsOverflow {
      overflow: visible;
    }

  }

}

#home-upcoming {

  background: @bgGray;
  padding: @gutter*4 0;
  overflow: hidden;

}

#upcoming-events-carousel {

  .slide {

    margin: 0;

    .meta {
      
      background: @white;

      .wrapper {

        padding: 15px;

      }
      
      .title {

        margin: 0;

      }

      .posted {

        margin: 0;

      }
      
    }

  }

  .slick-list {

    overflow: visible;

  }

}