.toolbar {

  border-bottom: 2px solid @bgGray;
  margin-bottom: @gutter*2;

  .nav {

    padding: 0;
    margin: 0;
    .parent-links();
    font-weight: 500;
    font-size: 13px;

    > li {

      display: inline-block;
      margin: 0;
      height: 55px;
      line-height: 60px;

      &.title {

        font-weight: 900;
        color: @aloudpink;
        letter-spacing: 0;
        position: relative;

        a {

          padding: 0;
          color: inherit;
          padding-right: 30px;

          &:after {

            content:'▻';
            font-family: 'SSGizmo';
            position: absolute;
            right: 0;
            color: @lighterGray;

          }

          &:hover {

            color: darken(@aloudpink, 10%)

          }

        }

      }

      > a {

        display: block;
        padding: 0 10px;
        margin: 0 -2px;

      }

      a {

        color: @lighterGray;

        &:hover {

          color: @textGray;

        }

      }

    }

  }

}