#head {

  .overlay();
  z-index: 9;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid @white25;
  transition: 300ms ease;

  &:hover {
    border-color: transparent;
  }

}