.membership-level {

  background-color: @textGray;
  padding-top: @gutter*3;
  padding-bottom: @gutter*3;
  border-bottom: 1px solid @black25;
  background-color: @bgGray;
  background-position: center center;
  background-size: cover;
  background-repeat: none;

  &:hover {

    background-color: darken(@textGray, 10%);

  }

  .title {
    color: @white;
  }

  p {
    color: @white;
  }

  .button {
    color: @white;
  }

}