#member-tabs {

  menu {

    .tabber-handle {

      background: @orange;
      padding: @gutter*2;
      border: none;
      color: @white50;

      &:first-child {
        border-top-left-radius: 3px;  
      }
      
      &:last-child {
        border-top-right-radius: 3px;  
      }

      a {
        color: @white50;
      }

      h3 {
        color: @white;
        margin: 0;
        font-size: 28px;
      }

      &:nth-child(2){

        background: lighten(@orange, 5%)

      }

    }

  }

  .tabber-tab {

    padding: 0;
    padding: 0 20px;
    border-radius: 3px;
    border-top-left-radius: 0;
    background: @orange;

    &#tab-2 {

    }

    .member-level-title {
      color: @white;
    }

    .sub-title {
      color: @white75;
    }

    .button {
      color: @white;
      border-color: @white;
    }

    .gift {
      margin-left: @gutter;
      color: @black50;
    }

    p {
      color: @white;
      strong {
        color: @white;
      }
    }

    ul {
      li {
        border-bottom: none;
        color: @white;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    .membership-level {
      border-bottom: 2px solid rgba(0,0,0,.1);
      background: none;
      padding: 20px;
      &:before {
        display: none;
      }
    }


  }

  #library, #tab_2 {
    background: @orange;
  }
  #leader, #tab_2 {
    background: lighten(@orange, 5%) 
  }

}


.young-literati {

 #member-tabs {

  .tabber-handle {

    background: @green;

    &:nth-child(2) {

      background: lighten(@green, 10%);

    }

  }

  #tab_1 {

    background: @green;

  }

 } 

}