.page-header {

  background-color: @bgGray;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 400px;
  .header-overlay();
  

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  > div {
    z-index: 9;
    position: relative;
  }

  h1 {
    color: @white;
  }

  ul.parent-links {

    padding-left: 0;
    margin-bottom: 0;

    li {

      display: inline-block;

      &:before {
        display: none;
      }

      a {
        color: @white;
      }

    }

  }

  &.event {
    .parent-links {
      li {
        a {
          color: @aloudpink;
        }
      }
    }
  }

}