.page-content {

  color: @gray;
  padding-top: 50px;
  padding-bottom: 50px;

  p {

    color: inherit;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}