.page-header {

  background-color: @bgGray;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
  padding-top: 200px;

  h1 {
    color: @white;
  }

  ul.parent-links {

    padding-left: 0;
    margin-bottom: 0;

    li {

      display: inline-block;

      &:before {
        display: none;
      }

      a {
        color: @white;
      }

    }

  }

}