.page-content, .event-content {

  color: @gray;
  padding-top: 50px;
  padding-bottom: 50px;

  > .row {
    position: relative;
  }

  p {

    color: inherit;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  .aside {

    .sentinel();

    p {
      .sentinel();
      font-size: 20px;
      line-height: 1.5;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    color: @darkGray;
    .sentinel();
  }

  .alignleft {
    float: left;
    margin-right: @gutter*3;
    margin-bottom: @gutter;

    // Lets Circle back around to this.
    // Not quite sure how I actually saw this working.
    //margin-left: -100px;
  }

  .alignright {
    float: right;
    margin-left: @gutter*3;
    margin-bottom: @gutter;

    // Lets Circle back around to this.
    // Not quite sure how I actually saw this working.
    //margin-left: -100px;
  }

  &.text-box {
    //padding-bottom: 0;
    border-top: 2px solid @bgGray;
  }

}