.sidebar {
  position: static;
  .xoxo {

    padding: 0;

    li {

      padding: 25px;
      display: block;
      position: static;

      &.widget_categories, &.widget_archive {

        .widget-title {
          display: none;
        }

        .blog-select.selecter {

          margin: 0;
          .parent-links();
          font-size: 13px;
          font-weight: 500;
          color: @textGray;

          .selecter-selected {

            border-width: 2px;
            border-color: transparent;
            border-bottom-color:  @lightestGray;
            border-radius: 0;
            background: none;

          }

          &.open {

            * {
              box-shadow: none;
            }

            .selecter-options {

              box-sizing: border-box;
              border-width: 2px;
              border-color: @lightestGray;
              //box-shadow: none;

            }

          }

        }

      }

      &.widget_categories {
        padding-bottom: 0;
      }

      &.widget_archive {
        padding-top: 0;
        margin-top: 0;
      }

    }

  }

  &#event-sidebar {
    background: 0;
    .xoxo {
      li {
        padding: 25px 0;
      }
    }
  }

  .widget.gallery {
    position: relative;
    .action {
      .action-btn();
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      z-index: 9;
      padding: 20px;
      color: @white;
      pointer-events: none;
    }
  }

  .event-gallery.item {

    figure {

      display: none;

      &.figure_1 {
        display: block!important;

      }

      .img-responsive {
        min-width: 100%;
      }

    }

  }

  .video-gallery {
    position: relative;
    .play {
      color: @white;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      font-size: 32px;
      margin-left: -20px;
      margin-top: -20px;
    }
    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        z-index: 1;
        color: @white;
        margin: 0;
      }
    .thumbnail {
      .cover();
      background-size: cover;
    }
  }

}

#post_confirmation {
  .sidebar {
    background: @bgGray;
    padding: 25px;
    .title {
      margin-top: 0;
    }
  }
}

.article-item {
  .desc {
    padding: 20px 0;
    .sentinel();
  }
}